var opt = {
    _id: "{{ replica_set.name }}",
    version: 1,
    protocolVersion: 1,
    members: [],
    settings: {
        chainingAllowed: true,
        heartbeatIntervalMillis: 2000,
        heartbeatTimeoutSecs: 10,
        electionTimeoutMillis: 10000,
        getLastErrorModes: {},
        getLastErrorDefaults: {w: 1, wtimeout: 0}
    }
};

{% if cluster_role == 'config' %}
// Set this to specify the replica set is a config server
opt.configsvr = true;
{% endif %}

{% if cluster_role == 'shard' %}
// Set this to specify the replica set is a shard server
{% endif %}

{% for hn in rs_server_group %}
opt.members.push({_id: {{ loop.index0 }}, host: '{{ hostvars[ hn ].server_fqdn }}:{{ rs_port }}'});
{% endfor %}

rs.initiate(opt);

{% if admin.password != "" %}
// Create the user administrator and cluster administrator
db.getSiblingDB("{{ auth_db }}").createUser({
    user: "{{ admin.username }}",
    pwd: "{{ admin.password }}",
    roles: [
        { role: "root", db: "{{ auth_db }}"},
        { role: "dbAdminAnyDatabase", db: "{{ auth_db }}"},
        { role: "userAdminAnyDatabase", db: "{{ auth_db }}"},
        { role: "readWriteAnyDatabase", db: "{{ auth_db }}"},
        { role: "clusterAdmin", db: "{{ auth_db }}"},
        { role: "clusterMonitor", db: "{{ auth_db }}"}
    ]
})
{% endif %}
