# mongodb.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{ log_file }}

#replication:

{% if config_db %}
sharding:
  configDB: {{ config_db }}
{% endif %}

security:
   clusterAuthMode: x509

# network interfaces
net:
  port: {{ rs_port }}
  bindIp: 0.0.0.0
  # bindIp: 127.0.0.1,{{ ansible_host }}
  ssl:
    mode: requireSSL
    disabledProtocols: "TLS1_0,TLS1_1"
    PEMKeyFile: {{ sc_chain_remote }}
    clusterFile: {{ sc_chain_remote }}
    CAFile: {{ sc_interm_remote }}
