var config = {
    _id: "{{ replica_set_name }}",
    version: 1,
    protocolVersion: 1,
    members: [],
    settings: {
        chainingAllowed: true,
        heartbeatIntervalMillis: 2000,
        heartbeatTimeoutSecs: 10,
        electionTimeoutMillis: 10000,
        getLastErrorModes: {},
        getLastErrorDefaults: {w: 1, wtimeout: 0}
    }
};

{% if cluster_role == 'configsvr' %}
// Set this to specify the replica set is a config server
config.configsvr = true;
{% endif %}

{% if cluster_role == 'shardsvr' %}
// Set this to specify the replica set is a config server
{% endif %}

{% for hn in rs_server_group %}
config.members.push({_id: {{loop.index0}}, host: '{{ hostvars[ hn ].server_fqdn }}:{{ rs_port }}'});
{% endfor %}

rs.initiate(config);

{% if admin_password != "" %}
// Create the user administrator and cluster administrator
db.getSiblingDB("admin").createUser({
    user: "admin",
    pwd: "{{ admin_password }}",
    roles: [
        { role: "root", db: "admin"},
        { role: "dbAdminAnyDatabase", db: "admin"},
        { role: "userAdminAnyDatabase", db: "admin"},
        { role: "readWriteAnyDatabase", db: "admin"},
        { role: "clusterAdmin", db: "admin"},
        { role: "clusterMonitor", db: "admin"}
    ]
})
{% endif %}
